.information{
    position: absolute;
    color: #fff;
    font-family: roboto;
    left: 50%;
    font-size: 300%;
    transform: translate(-50%, -50%);
}

.container {
    position: fixed;
}

img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}



