/* ======================================================================= 

             CSS de la bar de navagation (NavBar) uniquement

   ======================================================================*/

body{
  margin:0;
  padding:0;
}


.menu{
  padding: 0;
  margin: 0;

  list-style-type: none; /*pas de décoration pour la liste*/

  display: flex; /*container flex*/
  flex-direction: row; /*affichage en ligne*/
  justify-content: flex-start; /*éléments regroupés en début de ligne*/

  background-color: #7F786D; 

  font-family: Ubuntu; /*police Unbuntu chargé dans le HTML*/
  font-size: 22px;
  color: white;
}


li:hover{ 
  background-color: #42838E;
}




/* ======================================================================= 
   CSS des balises <a> c'est à dire des éléments des cellules de la NavBar
   ======================================================================*/

/*
  éléments des balises <a> du parent indirect <ul>
   ========================================================================*/
ul a{ 
  text-decoration: none; /*aucune décoration*/
  color: white; 
}

/*
  éléments des balises <a> du parent direct ou indirect <li>
   ========================================================================*/
li a{
  width: 180px; /*largeur des éléments (cellules)*/
  height: 80px; /*hauteur des éléments (-> hauteur navbar) */

  border-right: solid 1px;
  text-align: center; /*forcer le centrage horizontale pour les colonnes à 2 lignes de texte*/

  display: flex; 
  align-items: center; /*centrage vertical via flexbox*/
  justify-content: center; /*centrage horizontal via flexbox*/
}





/* ======================================================================= 
   Menu déroulant 
   ======================================================================*/

/*
  Cellules du menu déroulant
   ========================================================================*/

.Documents-content{ 
  display: none; /*cache le menu déroulant */
  position: absolute;  /*l'épaisseur de la bar n'augmente pas*/
  list-style-type:none;
  width:inherit;
  background:aqua;
  
  /* les enfants sont en colonne */
  flex-direction:column;
}

/*
  Affichage du menu déroulant lorsque je passe la souris sur la cellule
   ========================================================================*/

.Documents:hover > .Documents-content{
  display: block;
  background-color: red;
}





/* ======================================================================= 
   Mise en place du responsive
   ======================================================================*/

@media(min-width: 768px) and (max-width: 1388px)

{
  .menu{
    font-size: 18px;
  }

  li a{
    width: 140px; /*largeur des éléments*/
    height: 60px; /*hauteur des éléments (-> hauteur navbar*/
  }
}