.introduction{
	text-align: center;
	margin-top: 10%;
	font-size: 180%;
}




.flex div {
	width: 400px;
	border-right: 1px solid gray; /*bordure droite*/
	margin-top: 5%;
	background: pink;

}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;


}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}